/*Selector de etiquetas*/
		header, footer{
		/*Colores:palabra en ingles
			background-color: green;
			background-color: #FE3F44;
			background-color:rgb(78, 39, 168);*/
			background-color: #3B2F63;
			color: #FFFFFF;
		}
		/*Selector de id (solo lo puede tener una etiqueta)*/
		#bienvenida{
			background-image: url("../estaticos/imagenes/portada.jpg");
		 	background-repeat:no-repeat;
		 	background-attachment:fixed;
		 	color: #FFFFFF;
		 	line-height: 400px;
		 	text-align:center;
		 	background-size:cover;
		 	font-size: 1.8em;
		 }
		 #servicios{
		 	padding: 1.5em;
		 	font-size:1.3em;
		 	background-image: url("../estaticos/imagenes/fondo.png");
			background-attachment:fixed;
			/*text-align afecta a los elemntos de linea
			 texto planos,imgenes,videos
			  */
			text-align:center;
		 }
		 #conocenos{
		 	text-align: center;
		 }
		/*Selector de clase*/
		/*Para hacer columnas:
		 1.-Las columnas en una caja
		 2.-Cada columna es display:inline-block
		 3.-Dar un ancho fijo a las columnas
		 4.-alinearlashacia arriba vertical-align:top*/
		.columna,#suscribete,#powered, #siguenos{
			display:inline-block;
			vertical-align:top;
		}
		#titulo{
			width:40%;
		}
		#barra-navegacion{
			width:50%;
		}
		/*Selector de descendientes*/
		#barra-navegacion ul li{
			display: inline-block;
			vertical-align:top;
			width:17%;
			color: #c7c0de;
			text-align:center;
			line-height: 45px;
		}
		.servicio{
			display:inline-block;
			vertical-align:top;
			width:30%;
		}
		.historia{
			display:inline-block;
			vertical-align:top;
			width:45%;
		}
		#suscribete,#siguenos{
			width: 35%;
		}
		#powered{
			width:15%;
		}
		/*Imagenes y videos flexibles*/
		img,video{
				max-width:100%;
			}
		#titulo h1{
			padding-left: 7%;
		}
		#conocenos{
			font-size:1.2em;
		}
		#siguenos,#suscribete,#powered{
		/*superior derecha izquierda inferior*/
			padding: 20px 0px 15px 35px;
		}
